.disp{
                width: 420px;
                height: 50px;
                font-size: 30px;
                margin: 10px;
                text-align: right;
                border-radius: 100px;
                background-color: white;
}

.but{
                width: 100px;
                height: 50px;
                font-size: 20px;
                font-weight: bold;
                margin: 10px;
                background-color:rgb(255, 255, 255);
                border-radius: 300px;
}

.op-but{
    background-color: orange;
    width: 100px;
    height: 50px;
    border-radius: 300px;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 1000;
}

.calculator{
    text-align: center;
    min-width: 500px;
    border-color: black;
    
}

body{
    background-color:rgb(74, 70, 70);
}

.disp{
                width: 420px;
                height: 50px;
                font-size: 30px;
                margin: 10px;
                text-align: right;
                border-radius: 100px;
}

.but{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    background-color:darkgrey;
    border-radius: 300px;
}