body {
    background-color: #000000;
    text-align: center;
    max-width: 500px;
    width: 90%;
    max-width: 500px;
    margin: 60px auto;  
    padding: 30px;
}

.disp-body{
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    background-color: #141414;
    border-radius: 50px 50px 0px 0px;
    border:2px solid #777474;
}

.disp{
    font-size: 1.5rem;
    color: black;
    text-align: right;
    border-radius: 20px;
    background-color: #bcb2b2;
}
.number-but:active {
    background: #777474;
}

.inline-grid{
    border:2px solid rgb(75, 71, 71);
    display: flex;
    border-radius: 0 0 50px 50px;
    grid-template-columns: repeat(2, 1fr);
}

.buttons-grid{
    margin-left: 70px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;

}

.number-but{
    background-color: #141414;
    color: white;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
    min-height: 40px;
    min-width: 40px;
}

.op-but{
    background-color: orange;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bolder;
    max-width: 70px;
}

.operator-buttons{
    padding: 20px;
    display: grid;
    gap: 5px;
}